# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.DS_Store
# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

#Virtual env
venv

# Pyenv
.python-version

#Vagrant
.vagrant
